
body{
    margin:0;
    font-family: sans-serif;
    font-size: 16px;
}


/*
#########################################
                LAYOUTS
########################################
*/
.lr-layout{
    padding: 0px 10px 0px 10px;
}
.lr-content{
    padding: 0px 10px 0px 10px;
}

/*
#########################################
            NAV AND NAVBAR
########################################
*/
nav{
    display: flex;
    flex-direction: row;
    background-color:#fff;
}
.navbar{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: flex-end;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
/* Nav Styles */
.navbar li.menu-item a {
  //color: white;
  text-decoration: none;
  text-align: center;
}

.menu-item + .menu-item{
 padding-left:25px;
}

/* Logo on Navbar */
.logo{
    padding:10px;
}
.logo img{
    width:160px;
}

/*
fix for grid with inner only
.menu-item + .menu-item:not(:last-child){
 padding-left:20px;
*/

/* Header*/
header{
}


/* HERO */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../assets/code.jpg');
    height: 86vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
}
.hero-text h2{
    font-size: 50px; 
    line-height: .5;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

@media(max-width:750px){
    
.navbar {
    margin: 0 auto;
    width:auto;
}

nav {
    flex-direction: column;
}
.logo {
    margin: 0 auto;
}
}